:root {
    --panel-background-color: #fff;
    --panel-width-button: 50px;
    --panel-height-button: 50px;
}

.hvdPanel {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--panel-background-color);

    .hvdPanelWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .button {
            width: var(--panel-width-button);
            height: var(--panel-height-button);
            display: flex;
            align-items: center;
        }

    }
}