.formLogin{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    margin: 0 auto;

    .title{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }

    input, button{
        height: 45px;
        margin: 8px;
        border-radius: 5px;
        outline: none;
        border: 1.5px solid lightgray;
        font-size: 17px;
    }

    input{
        padding: 0 15px;
    }

    button{
        cursor: pointer;
    }

    .loginBtn{
        background-color: dodgerblue;
        color: white;
        font-weight: 600;
        font-size: 20px;
        transition: all .2s ease;

        &:hover{
            background-color: #127de7
        }
    }

    .forgotPasswordLink{
        font-size: 14px;
        padding: 5px;
        color: dodgerblue;
        &:hover{
            text-decoration: underline;
        }
    }

    hr{
        border-top: none;
        border-bottom: 1px solid #d5d2d2a1;
        margin: 5px 8px;
    }

    .registerBtn{
        background-color: #0ac70a;
        color: white;
        font-weight: 600;
        font-size: 20px;
        transition: all .2s ease;

        &:hover{
        background-color: #07b007;

        }
    }
    
}