@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap');

:root {
    --main-color: dodgerblue;
    --font-color: #000;
    --hover-color: #e6e2e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.wrapperIcon {
    position: relative;
    width: var(--topbar-line-height);
    height: var(--topbar-line-height);
    display: flex;
    border-radius: var(--topbar-line-height);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style: none;
}

input {
    outline: none
}

.badgeIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-radius: 50%;
        object-fit: cover;

        &:hover {
            border-color: var(--hover-color);
            transition: border 0.4s ease;
        }
    }
}