:root {
    --topBar-line-height: 50px;
    --topBar-hover: #fbfafa;
}

.hvdTopBar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 999;

    .topBarContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        padding: 10px;

        .topBarLeft {
            margin-right: 10px;
        }

        .topBarCenter {
            margin: 0 20px;
        }

        .topBarRight {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .wrapperItem {
                position: relative;
                width: var(--topBar-line-height);
                height: var(--topBar-line-height);
                display: flex;
                border-radius: var(--topBar-line-height);
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .badgeItem {
                position: absolute;
                top: 0;
                right: 0;
                width: 20px;
                height: 20px;
                font-size: 13px;
                font-weight: bold;
                background-color: red;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            // .hoverIcon {
            //     &:hover {
            //         background-color: var(--topbar-hover);
            //         color: var(--main-color);
            //         transition: all 0.3s ease;
            //     }
            // }

            .accountIcon {
                margin-left: 50px;
            }
        }
    }
}
