:root {
    --width-global-panel: 80px;
}

.hvdProfileLayout {
    position: relative;
    display: flex;
    flex-direction: row;

    .panelPage {
        width: var(--width-global-panel);
        background-color: rebeccapurple;
    }

    .mainPage {
        width: calc(100% - var(--width-global-panel));
        background-color: red;
    }
}