.hvdRightBar {
    width: 22vw;

    .rightBarComponent {
        background-color: #fff;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 10px;
    }

    .rightBarTitle {
        color: var(--font-color);
        font-weight: 500;
        margin-bottom: 10px;
        pointer-events: none;
    }

    .rightBarItem {
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        // align-items: center;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: var(--hover-color);
        }

        i {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }
    }

    .rightBarBanner {
        margin: 10px 0;
    }

    .hotTopic {
        .hotTopicItem {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            div {
                margin: 5px;
            }

            .name {
                font-weight: 500;
            }
        }
    }
}
